vm/.vagrant
vm/generated

vm-ubuntu/.vagrant
vm-ubuntu/generated

baremetal/generated

.coverage
**/__pycache__/
**/.pytest_cache/

dist/
*.egg-info/

workspace/
terraform/.terraform*
terraform/terraform.tfstate*

logs/
misc/
build/

